<p>header works!</p>
<mat-toolbar>
  <a class="logo" href="">Proyecto Renta</a>
  <a class="link" routerLink="/renta/form" routerLinkActive="active">Formulario</a>
  <a class="link" routerLink="/renta/list" routerLinkActive="active">Lista</a>
  <a class="link" routerLink="/admin" routerLinkActive="active">Admin</a>
  <a class="link" routerLink="/contact" routerLinkActive="active">Contacto</a>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
