.tab-container-height {
  min-height:620px
}

.btn-guardar {
  background-color: rgb(26, 52, 170);
  color: white;
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: rgb(26, 52, 170) !important;
 }

::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: rgb(26, 52, 170) !important;
} 

::ng-deep.mat-form-field-ripple {
 /*change color of underline when focused*/
 background-color: rgb(26, 52, 170) !important;;
 padding: 2px;
}

input {
  caret-color: rgb(26, 52, 170);
}