<p>renta-edit works!</p>

<div *ngIf="renta">
  <p>
    <mat-form-field class="example-full-width">
      <mat-label>Nombre del Cliente</mat-label>
      <input [(ngModel)]="clientName" [value]="renta.nombreCliente" matInput placeholder="Ej: Nicolas Molina">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field class="example-full-width">
      <mat-label>Rut del Cliente</mat-label>
      <input [(ngModel)]="clientRut" matInput placeholder="Ej: 12345678-9">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>Fecha</mat-label>
      <input [(ngModel)]="fecha" matInput [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </p>

  <div class="tab-container-height">
    <mat-tab-group  mat-align-tabs="center">
      <div id="test">
        <mat-tab label="Datos">
          <app-tabla-datos class="component-margin-top" [inputDatos]="inputDatos"></app-tabla-datos>
        </mat-tab>
        <mat-tab label="Formulario">
          <app-tabla-renta [inputRenta]="inputRenta" [selectOptions]="remainingSelectOptions"></app-tabla-renta>
        </mat-tab>
      </div>
    </mat-tab-group>
  </div>
  

  <div class="d-flex flex-row-reverse">
    <button mat-raised-button class="btn-guardar" (click)="editarRenta()">Guardar</button>
  </div>
</div>

