<!-- <p>
  <mat-form-field class="example-full-width">
    <mat-label>Nombre del Cliente</mat-label>
    <input [(ngModel)]="clientName" matInput placeholder="Ej: Nicolas Molina">
  </mat-form-field>
</p>
<p>
  <mat-form-field class="example-full-width">
    <mat-label>Rut del Cliente</mat-label>
    <input [(ngModel)]="clientRut" matInput placeholder="Ej: 12345678-9">
  </mat-form-field>
</p>
<p>
  <mat-form-field class="example-full-width">
    <mat-label>Fecha</mat-label>
    <input [(ngModel)]="fecha" matInput placeholder="Ej: 21-02-2019">
  </mat-form-field>
</p> -->

<div class="component-margin-top">
  <div class="d-flex justify-content-between">
    <button mat-raised-button color="accent" data-bs-toggle="modal" data-bs-target="#addRowModal"
      (click)="defaultSelectValue()">
      Añadir Tipo de Cuenta
    </button>
    <button mat-raised-button color="warn" (click)="deleteAllRows()">
      Eliminar todas las Filas
    </button>
  </div>
  
  <!-- Modal -->
  <div class="modal fade" id="addRowModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Añadir Fila</h5>
          <button mat-raised-button data-bs-dismiss="modal"></button>
        </div>
        <div *ngIf="selectOptions.length" class="modal-body">
          <p>Selecciona el tipo de cuenta a ingresar</p>
          <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg" [(ngModel)]="row">Tipo de Cuenta
            <!-- <option value="0">Selecciona opcion</option>  PARA VALORES POR DEFECTO  -->
            <option [ngValue]="option" *ngFor="let option of selectOptions">{{option.title}}</option>
          </select>
        </div>
        <div class="modal-body" *ngIf="selectOptions.length === 0">
          <p>No hay mas tipos de cuenta para ingresar</p>
        </div>
        <div class="modal-footer">
          <button class="btn-secondary" mat-raised-button data-bs-dismiss="modal">Cerrar</button>
          <button mat-raised-button color="accent" (click)="addRow(row)">Guardar</button>
        </div>
      </div>
    </div>
  </div>
  
  
  <!-- Tabla -->
  <table class="table margin-table border border-3 border-success">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Débitos</th>
        <th scope="col">Créditos</th>
        <th scope="col">Deudor</th>
        <th scope="col">Acreedor</th>
        <th scope="col">Activo</th>
        <th scope="col">Pasivo</th>
        <th scope="col">Perdida</th>
        <th scope="col">Ganancia</th>
        <th scope="col">Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let row of inputRenta; index as i">
        <tr>
          <th scope="row" class="align-middle"> {{row.title}} </th>
  
          <!-- main inputs -->
          <td><input class="form-control" [(ngModel)]="row.val1" type="number"></td>
          <td><input class="form-control" [(ngModel)]="row.val2" type="number"></td>
  
          <!-- deudor -->
          <td>
            <input readonly class="form-control" *ngIf="row.val1 > row.val2"
              [value]="row.val1 - row.val2" type="number">
            <input readonly class="form-control" *ngIf="!(row.val1 > row.val2)" [value]="0" type="number">
          </td>
  
          <!-- acreedor -->
          <td>
            <input readonly class="form-control" *ngIf="row.val1 < row.val2" [value]="row.val2 - row.val1" type="number">
            <input readonly class="form-control" *ngIf="!(row.val1 < row.val2)" [value]="0" type="number">
          </td>
  
          <!-- activo -->
          <td>
            <div *ngIf="row.type === 'inventario'">
              <input readonly class="form-control" *ngIf="row.val1 > row.val2" [value]="row.val1 - row.val2"
                type="number">
              <input readonly class="form-control" *ngIf="!(row.val1 > row.val2)" [value]="0" type="number">
            </div>
            <input readonly class="form-control" *ngIf="!(row.type === 'inventario')" [value]="0" type="number">
          </td>
  
          <!-- pasivo -->
          <td>
            <div *ngIf="row.type === 'inventario'">
              <input readonly class="form-control" *ngIf="row.val1 < row.val2" [value]="row.val2 - row.val1"
                type="number">
              <input readonly class="form-control" *ngIf="!(row.val1 < row.val2)" [value]="0" type="number">
            </div>
            <input readonly class="form-control" *ngIf="!(row.type === 'inventario')" [value]="0" type="number">
          </td>
  
          <!-- perdida -->
          <td>
            <div *ngIf="!(row.type === 'inventario')">
              <input readonly class="form-control" *ngIf="row.val1 > row.val2" [value]="row.val1 - row.val2"
                type="number">
              <input readonly class="form-control" *ngIf="!(row.val1 > row.val2)" [value]="0" type="number">
            </div>
            <input readonly class="form-control" *ngIf="(row.type === 'inventario')" [value]="0" type="number">
          </td>
  
          <!-- ganancia -->
          <td>
            <div *ngIf="!(row.type === 'inventario')">
              <input readonly class="form-control" *ngIf="row.val1 < row.val2" [value]="row.val2 - row.val1"
                type="number">
              <input readonly class="form-control" *ngIf="!(row.val1 < row.val2)" [value]="0" type="number">
            </div>
            <input readonly class="form-control" *ngIf="(row.type === 'inventario')" [value]="0" type="number">
          </td>
          <td>
            <button mat-icon-button color="warn" (click)="deleteRow(i)">
              <mat-icon>highlight_off</mat-icon>
            </button>
          </td>
        </tr>
      </ng-container>
      <tr class="table-success">
        <th class="align-middle"> Totales </th>
        <td> {{totalDebito('asd') | thousandsFormat}} </td>
        <td> {{totalCredito('asd') | thousandsFormat}} </td>
        <td> {{totalDeudor('asd') | thousandsFormat}} </td>
        <td> {{totalAcreedor('asd') | thousandsFormat}} </td>
        <td> {{totalActivo('asd') | thousandsFormat}} </td>
        <td> {{totalPasivo('asd') | thousandsFormat}} </td>
        <td> {{totalPerdida()}} </td>
        <td colspan="2"> {{totalGanancia() | thousandsFormat}} </td>
      </tr>
      <tr class="table-primary">
        <th class="align-middle" *ngIf="totalPerdida() > totalGanancia()"> Perdida </th>
        <th class="align-middle" *ngIf="totalPerdida() <= totalGanancia()"> Ganancia </th>
        <td colspan="4"></td>
        <td> {{totalInventarioActivo() | thousandsFormat}} </td>
        <td> {{totalInventarioPasivo() | thousandsFormat}} </td>
        <td> {{totalResultadoPerdida() | thousandsFormat}} </td>
        <td colspan="2"> {{totalResultadoGanancia() | thousandsFormat}} </td>
      </tr>
      <tr class="table-primary">
        <td colspan="5"></td>
        <td> {{valorFinalActivo() | thousandsFormat}} </td>
        <td> {{valorFinalPasivo() | thousandsFormat}} </td>
        <td> {{valorFinalPerdida() | thousandsFormat}} </td>
        <td colspan="2"> {{valorFinalGanancia() | thousandsFormat}} </td>
      </tr>
    </tbody>
  </table>
</div>



<!-- <div class="d-flex flex-row-reverse">
    <button mat-raised-button class="btn-guardar" (click)="saveRenta()">Guardar</button>
    </div> -->